/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #A5CEFD;
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
  font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.info-box {
  height: 32px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 32px;
  padding: 4px 4px 0 0;
  border: 0;
  border-radius: 4px;
  background-color: #dedede;
  display: inline-block;
  color: rgba(0,0,0, 0.87);
  margin: 2px 0;
  font-size: 0;
  white-space: nowrap;
  background-color: white;
}

.info-icon {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-style: italic;
  font-weight: bold;
  font-family: baskerville;
  color: white;
  background-color: rgb(63,81,181);
}

.info-text {
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.mountain {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 300px;
  z-index: 1;
  position: absolute;
  background: rgb(255,255,255);
  border-radius: 2px;
  margin-top: 20px;
  box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

@media screen and (max-width: 750px) {
  .mountain {
    left: calc(50% - 150px);
    transition-duration: 0.3s;
    -webkit-transform: translateX(550px);
            transform: translateX(550px);
  }
}

@media screen and (min-width: 751px) {
  .mountain {
    left: calc(100% - 320px);
    transition-duration: 0.2s;
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}

.mountain.is-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mountain-title {
  background-color: rgb(232,234,246);
  display: block;
  line-height: normal;
  padding: 16px 16px 8px 16px;
}

.mountain-title h1 {
  font-size: 18px;
  padding: 0;
  font-weight: bold;
  margin: 0;
  opacity: 0.87;
}

.mountain-title p {
  font-size: 14px;
  padding: 0;
  margin: 0 0 5px 0;
  font-style: italic;
  line-height: normal;
  opacity: 0.62;
}

.mountain-title .flex-grid {
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  margin: 0;
  opacity: 0.62;
}

.mountain-title.mountain-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mountain-supporting-text {
  color: rgba(0,0,0);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 8px 16px 16px 16px;
  width: 90%;
}

.mountain-supporting-text .flex-grid{
  opacity: 0.54;
}

.mountain-actions {
  border-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: right;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

.mountain-actions.mountain-border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cond-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0px;
  opacity: 0.87;
}

.mdl-layout__drawer {
  padding: 0 10px;
}

.search {
  position: relative;
}

.textfield-holder {
  display: inline-block;
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
/*  max-width: 0px;*/
}

/*.textfield-holder.is-expanded {
  max-width: 180px;
}*/

.textfield-holder:after {
  bottom: 0;
}

.textfield-holder .mdl-textfield__label {
  margin-left: 5px;
  color: white;
  opacity: 0.5;
}

.textfield-holder .mdl-textfield__input {
  margin-left: 5px;
}

.search-results {
  display: none;
  padding: 0;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 56px;
/*  width: 240px;*/
  /*max-height: 240px;*/
  background-color: white;
  overflow: auto;
  border-top: solid #F06292 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.search-results.is-visible {
  display: block;
}

.search-results .mdl-list {
  padding: 0;
}

.search-results .mdl-list__item {
  font-size: 14px;
  line-height: normal;
  padding: 8px;
  cursor: pointer;
  min-height: 0;
}
/*.info-closer {
  height: 24px;
  width: 24px;
  background: transparent;
  opacity: 0.54;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 12px;
  font-size: 13px;
  text-decoration: none;
  color: rgba(0,0,0, 0.87);
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}*/

.formElement {
  margin-top: 12px;
}

p.small {
  margin: 0;
  font-size: 12px;
}

/*.page-content {
    overflow: hidden;
    position: relative;
    width: 100%;
}*/

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.mountain-info {
  margin: 10px 0 0 0;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover,
.active {
    background-color: #DBEBFF;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

.menu-link {
  cursor: pointer;
  text-align: right;
  float: left;
  margin-left: 10px;
}

.user-link {
  cursor: pointer;
  text-decoration: underline;
  color: #000000
}

.menu-link:hover,
.user-link:hover {
  color: #fff;
}

#logo h1 {
    text-decoration: underline;
    font-size: 59px;
    color: #fff;
    margin: 0;
}

#logo {
    position: fixed;
    right: 40px;
    top: 30px;
    width: 380px;
    z-index: 1;
}

#menu {
  position: fixed;
  right: 40px;
  top: 15px;
  width: 150px;
  z-index: 1;
}


.flex-grid {
  margin: 4px 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 1 1 calc(100% - 100px);
}

.grid-item:nth-child(odd) {
  flex: 0 0 100px;
}

.icon {
  height: 18px;
}

/*-------- auto suggest -------*/

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  background-color: #A5CEFD;
  border: 2px solid #fff;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 35px;
  width: 376px;
  border: 2px solid #456F99;
  background-color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-height: 300px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 3px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #DBEBFF;
}

/*---------*/

@media screen and (max-width: 1000px) {

  #logo h1 {
      font-size: 50px;
  }

  #logo {
      right: 20px;
      width: 330px;
  }
}

@media screen and (orientation:portrait) {

  body {
      font-size: 14px;
  }

  #menu {
    position: fixed;
    left: 10px;
    width: 40%;
    top: 10px;
    /* right: 40px;
    top: 90px;
    width: 100px;
    z-index: 1;*/
  }

  .menu-link {
    text-align: left;
  }

  #logo h1 {
      font-size: 5.5vw;
  }

  #logo {
      position: fixed;
      width: 40%;
      left: 10px;
      right: auto;
      top: 30px;
      /*right: 40px;
      top: 20px;
      width: 380px;
      z-index: 1; */
  }

  #search {
      position: fixed;
      left: 10px;
      right: auto;
      top: 80px;
      width: 36%;
      /*right: 140px;
      top: 90px;
      width: 280px;
      height: 28px;
      z-index: 5; */
  }

  .react-autosuggest__input {
    width: 90%;
  }

  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    width: 88%;
  }

}
