/*
Light Blue: #DBEBFF;
/*Blue: #A5CEFD*/
/*Dark Blue: #456F99*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #A5CEFD;
}

body {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
  font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.info-box {
  height: 32px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 32px;
  padding: 4px 4px 0 0;
  border: 0;
  border-radius: 4px;
  background-color: #dedede;
  display: inline-block;
  color: rgba(0,0,0, 0.87);
  margin: 2px 0;
  font-size: 0;
  white-space: nowrap;
  background-color: white;
}

.info-icon {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-style: italic;
  font-weight: bold;
  font-family: baskerville;
  color: white;
  background-color: rgb(63,81,181);
}

.info-text {
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.mountain {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 300px;
  z-index: 1;
  position: absolute;
  background: rgb(255,255,255);
  border-radius: 2px;
  margin-top: 20px;
  right: 0%;
  box-sizing: border-box;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.mountain.is-visible {
  -webkit-transform: translateX(calc(100% - 320px));
          transform: translateX(calc(100% - 320px));
}

.mountain-title {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3E4EB8;
  color: #fff;
  display: block;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  line-height: normal;
  padding: 16px 16px;
  -webkit-perspective-origin: 165px 56px;
          perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
          transform-origin: 165px 56px;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;
}
.mountain-title.mountain-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mountain-supporting-text {
  color: rgba(0,0,0, 0.54);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 16px 16px;
  width: 90%;
}

.mountain-actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

.mountain-actions.mountain-border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}



/*.info-closer {
  height: 24px;
  width: 24px;
  background: transparent;
  opacity: 0.54;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 12px;
  font-size: 13px;
  text-decoration: none;
  color: rgba(0,0,0, 0.87);
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}*/

.formElement {
  margin-top: 12px;
}

p.small {
  margin: 0;
  font-size: 12px;
}


input, textarea, keygen, select, button {
  color: #456F99;
}
::-webkit-input-placeholder {
   color: #456F99;
}
:-moz-placeholder { /* Firefox 18- */
   color: #456F99;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #456F99;
}
:-ms-input-placeholder {
   color: #456F99;
}

input {
  box-sizing: border-box;
}

input[type="submit"],
button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #436E98;
    background-color: #fff;
    box-sizing: border-box;
    padding: 3px 6px 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #436E98;
}

/*.page-content {
    overflow: hidden;
    position: relative;
    width: 100%;
}*/

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.mountain-info {
  margin: 10px 0 0 0;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover,
.active {
    background-color: #DBEBFF;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

.menu-link {
  cursor: pointer;
  text-align: right;
  float: left;
  margin-left: 10px;
}

.user-link {
  cursor: pointer;
  text-decoration: underline;
  color: #000000
}

.menu-link:hover,
.user-link:hover {
  color: #fff;
}

#logo h1 {
    text-decoration: underline;
    font-size: 59px;
    color: #fff;
    margin: 0;
}

#logo {
    position: fixed;
    right: 40px;
    top: 30px;
    width: 380px;
    z-index: 1;
}

#menu {
  position: fixed;
  right: 40px;
  top: 15px;
  width: 150px;
  z-index: 1;
}


.flex-grid {
  margin: 4px 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 1 1 calc(100% - 100px);
}

.grid-item:nth-child(odd) {
  flex: 0 0 100px;
}

.icon {
  height: 18px;
}

/*-------- auto suggest -------*/

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  background-color: #A5CEFD;
  border: 2px solid #fff;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 35px;
  width: 376px;
  border: 2px solid #456F99;
  background-color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-height: 300px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 3px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #DBEBFF;
}

/*---------*/

@media screen and (max-width: 1000px) {

  #logo h1 {
      font-size: 50px;
  }

  #logo {
      right: 20px;
      width: 330px;
  }
}

@media screen and (orientation:portrait) {

  body {
      font-size: 14px;
  }

  #menu {
    position: fixed;
    left: 10px;
    width: 40%;
    top: 10px;
    /* right: 40px;
    top: 90px;
    width: 100px;
    z-index: 1;*/
  }

  .menu-link {
    text-align: left;
  }

  #logo h1 {
      font-size: 5.5vw;
  }

  #logo {
      position: fixed;
      width: 40%;
      left: 10px;
      right: auto;
      top: 30px;
      /*right: 40px;
      top: 20px;
      width: 380px;
      z-index: 1; */
  }

  #search {
      position: fixed;
      left: 10px;
      right: auto;
      top: 80px;
      width: 36%;
      /*right: 140px;
      top: 90px;
      width: 280px;
      height: 28px;
      z-index: 5; */
  }

  .react-autosuggest__input {
    width: 90%;
  }

  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    width: 88%;
  }

}
